<h1>Welcome to the Viewing Party!</h1>

<% if current_user %>
  <p>Welcome back, <%= current_user.username %>!</p>
<% else %>
  <%= link_to 'Log in with Google', '/auth/google_oauth2' %>
<% end %>

<hr>

<h2>This application is a means to explore movies and create viewing parties for you and friends.</h2>

Utilizing <%= link_to 'the Movie DB API', 'https://www.themoviedb.org/' %> and the power of
<%= link_to 'Google Calendar', 'https://calendar.google.com' %>, you can create a viewing party with your friends!
