<h1><%= flash[:info] %></h1>

<div class="find_movies">
  <%= button_to "Find Top Rated Movies", movies_path, method: :get %>
</div>


<ul>
<% if @movies_info %>
  <% @movies_info.each do |m| %>
    <li>
      <%= link_to m[:title], movie_path(m[:id]) %>
      <%= m[:vote_average] %>
      <% end %>
    </li>
<% end %>
</ul>